{# AppBundle/index.html.twig.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h1>New Payment</h1>
            {{ form_start(transactionForm) }}
            {{ form_errors(transactionForm) }}
            {{ form_row(transactionForm.date, { 'label': 'transaction.form.date'|trans }) }}
            <hr class="half-rule">
            {{ form_row(transactionForm.bill, { 'label': 'transaction.form.bill'|trans }) }}
            <div class="col-md-offset-3">
                <p>- OR -</p>
            </div>
            {{ form_row(transactionForm.name, { 'label': 'transaction.form.name'|trans }) }}
            {{ form_row(transactionForm.category, { 'label': 'transaction.form.category'|trans }) }}
            <hr class="half-rule">
            {{ form_row(transactionForm.transactionAmount, { 'label': 'transaction.form.amount'|trans }) }}
            {{ form_row(transactionForm.account, { 'label': 'transaction.form.account'|trans }) }}
            {{ form_row(transactionForm.save, { 'label': 'transaction.form.save'|trans }) }}
            {{ form_rest(transactionForm) }}
            {{ form_end(transactionForm) }}
        </div>
        <div class="col-md-6">
            <h1>Deposit or Transfer</h1>
            {{ form_start(transferForm, {'style': 'horizontal'}) }}
            {{ form_errors(transferForm) }}
            {{ form_row(transferForm.date, { 'label': 'transfer.form.date'|trans }) }}
            {{ form_row(transferForm.transactionAmount, { 'label': 'transfer.form.amount'|trans }) }}
            {{ form_row(transferForm.toAccount, { 'label': 'transfer.form.toaccount'|trans }) }}
            <hr class="half-rule">
            {{ form_row(transferForm.fromAccount, { 'label': 'transfer.form.fromaccount'|trans }) }}
            {{ form_row(transferForm.save, { 'label': 'transfer.form.save'|trans }) }}
            {{ form_rest(transferForm) }}
            {{ form_end(transferForm) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Balances</h2>
            <table class="table table-striped table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>Account</th>
                        <th>Available Balance</th>
                    </tr>
                </thead>
                {% for account in accounts %}
                    <tr>
                        <td>
                            {{ account.name }}
                        </td>
                        <td>{{ account.getAvailableBalance|money_localized_format }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-6">
            <h2>Upcoming Bills</h2>
            <table class="table table-striped table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Bill</th>
                        <th>Amount</th>
                        <th>Select</th>
                    </tr>
                </thead>
                {% for bill in bills %}
                    <tr>
                        <td>
                            {{ bill.dueDate|date('m/d/Y') }}
                        </td>
                        <td>
                            {{ bill.name }}
                        </td>
                        <td>{{ bill.budgetAmount|money_localized_format }}</td>
                        <td><a href="{{ path('userHomepage', {'id': bill.id}) }}" title="select">Select</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}